/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

body {
  --verde-claro: #acd0b6;
  --verde: #71a397;
  --verde-sombra: #4b8a79;
  --verde-ativo: #659a8e;
  background: url('./assets/04-BG.png');
  background-size: cover;
}

#header {
  background-color: var(--verde-claro);
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}

.header_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.contato {
  display: flex;
  margin-top: 85px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contato_h1 {
  font-family: 'Cookie', cursive;
  font-weight: lighter;
  line-height: .7em;
  font-size: 71px;
  max-width: 450px;
  text-align: center;
  color: var(--verde-claro);
  margin-top: ;
}

#contato_form input {
  display: block;
}

.input_nome,
.input_email,
.input_mensagem,
.botao_enviar {
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border: none;
	resize: none;
}

.input_nome,
.input_email,
.input_mensagem {
  font-weight: 300;
  font-size: 18px;
	margin-top: 10px;
	margin-bottom: 20px;
  width: 420px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 15px;
}

.botao_enviar {
  font-weight: bold;
  font-size: 22px;
  margin: 10px auto;
  width: 100%;
  border-radius: 5px;
  height: 50px;
  background-color: var(--verde);
  color: #fff;
  box-shadow: 0 5px 0 var(--verde-sombra);
  cursor: pointer;
}

.botao_enviar:hover,
.botao_enviar:active {
  background-color: var(--verde-ativo);
}